/* ProgressChart.css */

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.chart-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.loading-message {
    font-size: 18px;
    color: #888888;
}

.btn-recalibrate {
    display: block; /* Block-level button */
    width: 27%; /* Full width */
    padding: 12px; /* Add padding for a larger click area */
    background-color: #1bbd88; /* Primary button color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 500px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 1rem; /* Font size */
    transition: background-color 0.3s; /* Smooth background color transition */
    text-align: center;
    align-content: center;
    margin:auto;
}
.btn-recalibrate:hover {
    background-color: #14805f; /* Darker shade on hover */
}

.wl-results {
    background-color: #fff; /* White background for results */
    padding: 15px; /* Add padding around results */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow for results */
    margin-bottom: 20px; /* Space below the results section */
    color: #127756; /* Green color for headings */
    margin: 10px 0; /* Space above and below headings */
    text-align: center;
}