.form-card {
    background-color: #f8f9fa; /* Light background for the form card */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding inside the form card */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: 500px; /* Max width for the form card */
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
  h2 {
    text-align: center; /* Center the heading */
    color: #07294D; /* Dark blue color for the title */
    margin-bottom: 20px; /* Space below the title */
  }

  
  .form-group-calorie-form {
    margin-bottom: 15px; /* Space between form groups */
    margin-top: 15px;
    display: flex; /* Use flexbox for alignment */
    flex-direction: column;

  }
  
  label {
    font-weight: bold; /* Bold labels */
    color: #333; /* Darker color for better readability */
}
  
  input[type="number"], select {
    width: 100%; /* Full width for inputs */
    padding: 10px; /* Padding inside the input */
    border: 1px solid #ced4da; /* Light gray border */
    border-radius: 4px; /* Rounded corners for inputs */
    font-size: 16px; /* Font size for inputs */
    transition: border-color 0.2s; /* Transition for border color on focus */
  }
  
  .slider-container {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    width: 100%; /* Ensure the container takes full width */
  }
  
  .slider {
    flex: 1; /* Allow the slider to grow and take remaining width */
    margin-left: 10px; /* Space between input and slider */
    cursor: pointer; /* Change cursor to pointer for slider */
  }
  
  .button-calorie-form {
    background-color: #07294D !important; /* Dark blue background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 15px; /* Padding for button */
    font-size: 16px; /* Font size for button */
    cursor: pointer; /* Cursor pointer for button */
    width: 100%; /* Full width for button */
    transition: background-color 0.3s; /* Transition for hover effect */
  }
  
  .button-calorie-form:hover {
    background-color: #1559a2 !important; /* Lighter blue on hover */
  }
  
  .error-message {
    color: red; /* Red color for error messages */
    margin-top: 10px; /* Margin above error messages */
  }
  
  .success-message {
    color: green; /* Green color for success messages */
    margin-top: 10px; /* Margin above success messages */
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.icon-left {
    width: 10px;
    margin-right: 10px;
}
.icon-left-light {
  width: 12px;
  height: 40px;
  margin-right: 10px;
}

.icon-right {
    width: 15px;
    margin-left: 10px;
}
.icon-right-heavy {
  width: 20px;
  height: 40px;
  margin-left: 10px;
}


.slider-value {
  margin-left: 10px; /* Space between slider and value */
  min-width: 30px; /* Minimum width for value display */
  text-align: center; /* Center the text */
}

.slider {
  accent-color: rgb(6, 20, 64);
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
}

.grid-image {
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s, border 0.3s;
  border: 2px solid transparent; /* Default border */
  max-width: 120px; /* Limit maximum width */
}

.grid-image.selected {
  transform: scale(1.05); /* Slightly enlarge selected image */
  border: 2px solid rgb(6, 20, 64); /* Highlight selected image */
}

.image-container {
  text-align: center;
  height: 100%;
  width: 100%;
}


